/* BASE TOKENS */
:root {
    /* Color styles */
    --white---600: rgba(255, 255, 255, 1);
    --white--500: rgba(251, 251, 251, 1);
    --white--400: rgba(248, 248, 248, 1);
    --white--300: rgba(243, 243, 243, 1);
    --white----20: rgba(255, 255, 255, 0.20000000298023224);
    --white----50: rgba(255, 255, 255, 0.5);
    --gray--700: rgba(184, 182, 182, 1);
    --gray--600: rgba(190, 190, 190, 1);
    --gray----500: rgba(206, 206, 206, 1);
    --gray--400: rgba(224, 224, 224, 1);
    --gray----300: rgba(239, 239, 239, 1);
    --black--700: rgba(52, 51, 51, 1);
    --black--600: rgba(84, 84, 84, 1);
    --black--500: rgba(96, 95, 95, 1);
    --black----400: rgba(116, 115, 115, 1);
    --black--300: rgba(168, 166, 166, 1);
    --turquoise--700: rgba(57, 178, 171, 1);
    --turquoise--600: rgba(60, 201, 192, 1);
    --turquoise--500: rgba(143, 217, 212, 1);
    --turquoise--400: rgba(165, 236, 232, 1);
    --turquoise--300: rgba(207, 240, 238, 1);
    --blueberry--700: rgba(28, 129, 212, 1);
    --blueberry--600: rgba(36, 145, 235, 1);
    --blueberry--500: rgba(76, 173, 253, 1);
    --blueberry--400: rgba(133, 199, 254, 1);
    --blueberry--300: rgba(188, 218, 243, 1);
    --blueberry--200: rgba(241, 249, 255, 1);
    --dragon-fruit--700: rgba(181, 64, 155, 1);
    --dragon-fruit--600: rgba(212, 76, 182, 1);
    --dragon-fruit--500: rgba(234, 118, 208, 1);
    --dragon-fruit--400: rgba(238, 164, 222, 1);
    --dragon-fruit--300: rgba(239, 206, 232, 1);
    --grape--700: rgba(133, 111, 225, 1);
    --grape---600: rgba(153, 128, 254, 1);
    --grape--500: rgba(177, 157, 255, 1);
    --grape--400: rgba(199, 186, 252, 1);
    --grape--300: rgba(229, 223, 255, 1);
    --lemon--700: rgba(221, 187, 9, 1);
    --lemon--600: rgba(254, 214, 2, 1);
    --lemon--500: rgba(254, 226, 80, 1);
    --lemon--400: rgba(255, 235, 126, 1);
    --lemon--300: rgba(255, 244, 186, 1);
    --error--700: rgba(214, 43, 73, 1);
    --error--600: rgba(240, 61, 93, 1);
    --error--500: rgba(251, 92, 120, 1);
    --error--400: rgba(246, 126, 148, 1);
    --error--300: rgba(254, 226, 232, 1);
    --caution--700: rgba(216, 104, 0, 1);
    --caution--600: rgba(230, 111, 0, 1);
    --caution--500: rgba(255, 163, 77, 1);
    --caution--400: rgba(255, 180, 111, 1);
    --caution--300: rgba(255, 221, 189, 1);
    --success--700: rgba(23, 151, 101, 1);
    --success--600: rgba(15, 181, 117, 1);
    --success--500: rgba(47, 204, 143, 1);
    --success--400: rgba(148, 222, 193, 1);
    --success--300: rgba(218, 237, 230, 1);
    --denim----700: rgba(4, 48, 107, 1);
    --denim----600: rgba(30, 67, 116, 1);
    --denim----500: rgba(41, 90, 154, 1);
    --denim----400: rgba(60, 116, 191, 1);
    --denim----300: rgba(201, 216, 235, 1);

    /* Text-size styles */
    /* base size: heading--x-x-x-small (16px) */
    --heading--x-x-x-small: 1rem;
    --heading--x-x-x-small--strong: 1rem;
    --heading--x-x-small: 1.12rem;
    --heading--x-x-small--strong: 1.12rem;
    --heading---x-small: 1.25rem;
    --heading---x-small--strong: 1.25rem;
    --heading---small: 1.5rem;
    --heading---small--strong: 1.5rem;
    --heading---medium: 1.75rem;
    --heading---medium--strong: 1.75rem;
    --heading---large: 2.12rem;
    --heading---large--strong: 2.12rem;
    --heading---x-large----light: 2.5rem;
    --heading---x-large: 2.5rem;
    --heading---x-large--strong: 3rem;
    --label---large: 1.12rem;
    --label---large--strong: 1.12rem;
    --label---medium: 1rem;
    --label---medium--strong: 1rem;
    --label---small: 0.88rem;
    --label---small--strong: 0.88rem;
    --label---small--x-strong: 0.88rem;
    --label---x-small: 0.75rem;
    --label---x-small--strong: 0.75rem;
    --label---x-small--x-strong: 0.75rem;
    --label--x-x-small: 0.62rem;
    --label--x-x-small--strong: 0.62rem;
    --label--x-x-small-x-strong: 0.62rem;
    --paragraph---large: 1.12rem;
    --paragraph---medium: 1rem;
    --paragraph---small: 0.88rem;
    --paragraph---x-small: 0.75rem;
    --display---large: 5.5rem;
    --display---medium: 4.5rem;
    --display---small: 3.5rem;
    --table--td_link: 0.88rem;
    --table--th: 0.88rem;
    --table--td: 0.88rem;

    /* Effect styles */
    --elevation---x-large: 0px 24px 28px rgba(0, 0, 0, 0.15);
    --elevation---large: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.06);
    --elevation---medium: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 10px 20px rgba(0, 0, 0, 0.04);
    --elevation---small: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 4px 8px rgba(0, 0, 0, 0.04);



    
    /* ALIAS TOKENS */
    --primary--text: var(--black--600);

    /* SEMANTIC TOKENS */
    --nav-link: var(--primary--text);

        /*tables*/
        --th-bg-color: var(--gray--400);
        --th-text-size: var(--table--th);
        --td-bg-light: var(--white--600);
        --td-bg-dark: var(--white--400);
        --td-text-size: var(--table--td);
}